<div class="container">
  <ul class="nav-container">
    <li class="tabs" (click)="changeStatus(0)">
      <span [ngClass]="{'active': selected_status== 0}" class="tabs-text">All</span>
    </li>
    <li class="tabs"  (click)="changeStatus(1)">
      <span [ngClass]="{'active': selected_status== 1}" class="tabs-text">Coworking Spces</span>
    </li>
    <li class="tabs"  (click)="changeStatus(2)">
      <span [ngClass]="{'active': selected_status== 2}" class="tabs-text">Working Cafe</span>
    </li>
</ul>
<div class="first-container">
  <div class="filter-input">
    <mat-form-field class="booking-form-inputs" appearance="outline">
      <mat-label>
        Search
      </mat-label>
      <input [(ngModel)]="search_string" matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter details to search">
      <span *ngIf="!search_string" matSuffix>
        <mat-icon class="filter-icons">search</mat-icon>
      </span>
      <span *ngIf="search_string" (click)="clearSearchInput()" matSuffix>
        <mat-icon class="filter-icons">cancel</mat-icon>
      </span>
    </mat-form-field>
    </div>
</div>
<div class="card">
  <div class="filter-input">
   <mat-form-field class="booking-small-form-inputs" appearance="outline" style="font-size:14px;">
      <mat-label> Date(MM/DD/YYYY)</mat-label>
      <input matInput [matDatepicker]="picker_date" required name="date" (ngModelChange)="onChange($event)" [(ngModel)]="date" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker_date"></mat-datepicker-toggle>
      <mat-datepicker #picker_date></mat-datepicker>
      <mat-hint>{{date_display}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="booking-small-form-inputs" appearance="outline" style="font-size:14px;">
        <mat-label>Select Space</mat-label>
        <mat-select [(ngModel)]="selected_space" (ngModelChange)="changeSpace(selected_space)" placeholder="Select Space" name="space">
          <mat-option *ngFor="let space of list_space" [value]="space.id">
            {{space.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <label class="label-details">Showing <b>{{selected_bookings_data.length}}</b> results for selected date range</label>
    &nbsp; &nbsp;

  </div>
  <table  mat-table [dataSource]="bookingsDataSource" matSort class="member-table">
      <ng-container matColumnDef="booking_id">
          <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
          <td class="table-cell" mat-cell *matCellDef="let element"> {{element.booking_id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
            <td class="table-cell" mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
    <ng-container matColumnDef="status">
      <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td class="table-cell" mat-cell *matCellDef="let element"> 
        <mat-chip *ngIf="element.status == 1" style="background-color: grey" class="status" selected>Visited</mat-chip>
        <mat-chip *ngIf="element.status == 0" style="background-color: green" class="status" selected>Booked</mat-chip>
      </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="date">
      <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td class="table-cell" mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
    <ng-container matColumnDef="space_name">
        <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Space</th>
        <td class="table-cell" mat-cell *matCellDef="let element"> {{element.space_name}} </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="bookingsDisplayedColumns">
    </tr>
    <tr mat-row *matRowDef="let row; columns: bookingsDisplayedColumns;" (click)="selection.toggle(row)">
    </tr>
  </table>
</div>
</div>
