<div class="container">
  <ul class="nav-container">
    <li class="tabs" (click)="changeStatus(0)">
      <span [ngClass]="{'active': selected_status== 0}" class="tabs-text">All</span>
    </li>
    <li class="tabs"  (click)="changeStatus(1)">
      <span [ngClass]="{'active': selected_status== 1}" class="tabs-text">Coworking Spces</span>
    </li>
    <li class="tabs"  (click)="changeStatus(2)">
      <span [ngClass]="{'active': selected_status== 2}" class="tabs-text">Working Cafe</span>
    </li>
</ul>
<div class="first-container">
  <div class="filter-input">
    <mat-form-field class="space-form-inputs" appearance="outline">
      <mat-label>
        Search
      </mat-label>
      <input [(ngModel)]="search_string" matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter details to search">
      <span *ngIf="!search_string" matSuffix>
        <mat-icon class="filter-icons">search</mat-icon>
      </span>
      <span *ngIf="search_string" (click)="clearSearchInput()" matSuffix>
        <mat-icon class="filter-icons">cancel</mat-icon>
      </span>
    </mat-form-field>
    </div>
</div>
<div class="card">
  <div class="filter-input">
    <label class="label-details">Showing <b>{{selected_spaces_data.length}}</b> results for selected date range</label>
    &nbsp; &nbsp;

  </div>
  <table  mat-table [dataSource]="spacesDataSource" matSort class="member-table">
      <ng-container matColumnDef="id">
          <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
          <td class="table-cell" mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
            <td class="table-cell" mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td class="table-cell" mat-cell *matCellDef="let element"> 
              <mat-chip *ngIf="element.status == 1" style="background-color: grey" class="status" selected>Not Active</mat-chip>
              <mat-chip *ngIf="element.status == 0" style="background-color: green" class="status" selected>Active</mat-chip>
            </td>
          </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="area_name">
      <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header>Area</th>
      <td class="table-cell" mat-cell *matCellDef="let element"> {{element.area_name}} </td>
    </ng-container>
    <ng-container matColumnDef="about">
        <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> About</th>
        <td class="table-cell" mat-cell *matCellDef="let element"> {{element.about}} </td>
      </ng-container>
      <ng-container matColumnDef="address">
          <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Address</th>
          <td class="table-cell" mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>
      <ng-container matColumnDef="lat">
        <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Lat</th>
        <td class="table-cell" mat-cell *matCellDef="let element"> {{element.lat}} </td>
      </ng-container>
      <ng-container matColumnDef="longi">
        <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Longi</th>
        <td class="table-cell" mat-cell *matCellDef="let element"> {{element.longi}} </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="spacesDisplayedColumns">
    </tr>
    <tr mat-row *matRowDef="let row; columns: spacesDisplayedColumns;" (click)="selection.toggle(row)">
    </tr>
  </table>
</div>
</div>
