.container {
  height: 100vh;
  display: flex;
}

.login-div {
  min-width: 400px;
  height: 100%;
  text-align: center;
}

.poster-div {
  width: 70%;
  height: 100%;
  background:#0F5092;
}

.poster-image {
  background-image: url('/assets/img/login-poster.png');
  background-repeat: round;
  height: 452px;
}

.logo-img {
  width: 100px;
  margin-top: 25px;
}

.login-heading {
  font-size: 22px;
  font-weight: 600;
}

.auth-login {
 position: relative;
 top:60px;
 left: 480px;
}

.form-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

.login-button {
  width: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  background: #FBA000;
  color: white;
}

.forgot-link {
  text-decoration: underline;
  cursor: pointer;
}

.alert-label {
  text-align: center;
  font-size: 15px;
  height: 50px;
  padding: 10px;
}

.alert-msg {
  padding: 10px 20px;
  background: white;
  border-radius: 7px;
}

@media screen and (max-width: 800px) {
  .poster-div {
    display: none;
  }

  .login-div {
    width: 92%;
  }

}

.poster-center-text {
  color: white;
  padding: 0 44px 20px;
  text-align: center;
}

.poster-header-text {
  font-weight: 600;
  font-size: 19px;
}
