<div class="container">
  <div class="login-div">
    <img src="/assets/img/logo.png" class="logo-img" alt="logo">
    <div *ngIf="!show_forgot_password">
      <h3 class="login-heading">Login to Dashboard</h3>
      <p>Enter your credentials</p><form (ngSubmit)="validate()" >
        <div class="form-container">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email" [formControl]="email" type="email" [(ngModel)]="user.email" required>
            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" name="password" [formControl]="password" type="password" [(ngModel)]="user.password" required>
            <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
          </mat-form-field>
          <button  class="login-button"  mat-flat-button [disabled]="email.invalid || password.invalid" color="accent"> LOGIN </button>
          <label class="forgot-link" (click)="show_forgot_password=true;">Forgot password ?</label>
        </div>
      </form>
    </div>
    <div class="forgot-passowrd" *ngIf="show_forgot_password">
      <form (ngSubmit)="forgotPassword()" >
        <label class="forgot-link" (click)="show_forgot_password=false;">
          <i style="position: relative; top: 8px" class="material-icons">
            keyboard_arrow_left
          </i>
          Go back to login
        </label>
        <div class="form-container">
          <p style="font-size: 20px">Enter your registered email</p>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" [formControl]="email" type="email" [(ngModel)]="user.email" required>
            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>
          <button  class="login-button" mat-raised-button [disabled]="email.invalid" color="accent">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="poster-div">
    <div  class="alert-label">
      <label [hidden]="!alert_success" class="alert-msg" [style.color]="alert_success == 'warn' ? 'red': 'green'">*{{alert_message}}</label>
    </div>
    <div class="poster-center-text">
      <label class="poster-header-text">EXPLORE BRSKLY TO AUTOMATE & MANANGE YOUR WORKSPACE.</label><br>
      <label>Take control over your coworking space or shared office,
      provide unmatched customer experience and increase revenue.</label><br><br>
      <button mat-stroked-button onclick="window.open('http://brskly.co', '_blank');">Know more</button>
    </div>
    <div class="poster-image">
    </div>
  </div>
</div>
