<div class="container">
    <ul class="nav-container">
      <li class="tabs" (click)="changeStatus(0)">
        <span [ngClass]="{'active': selected_status== 0}" class="tabs-text">All</span>
      </li>
      <li class="tabs"  (click)="changeStatus(1)">
        <span [ngClass]="{'active': selected_status== 1}" class="tabs-text">Coworking Spces</span>
      </li>
      <li class="tabs"  (click)="changeStatus(2)">
        <span [ngClass]="{'active': selected_status== 2}" class="tabs-text">Working Cafe</span>
      </li>
  </ul>
  <div class="first-container">
    <div class="filter-input">
      <mat-form-field class="worker-form-inputs" appearance="outline">
        <mat-label>
          Search
        </mat-label>
        <input [(ngModel)]="search_string" matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter details to search">
        <span *ngIf="!search_string" matSuffix>
          <mat-icon class="filter-icons">search</mat-icon>
        </span>
        <span *ngIf="search_string" (click)="clearSearchInput()" matSuffix>
          <mat-icon class="filter-icons">cancel</mat-icon>
        </span>
      </mat-form-field>
      </div>
  </div>
  <div class="card">
    <div class="filter-input">
      <label class="label-details">Showing <b>{{selected_workers_data.length}}</b> results for selected date range</label>
      &nbsp; &nbsp;
  
    </div>
    <table  mat-table [dataSource]="workersDataSource" matSort class="member-table">
        <ng-container matColumnDef="id">
            <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
            <td class="table-cell" mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
              <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
              <td class="table-cell" mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
      <ng-container matColumnDef="credits">
        <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Credits </th>
        <td class="table-cell" mat-cell *matCellDef="let element"> {{element.credits}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="visits">
        <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header>Visits</th>
        <td class="table-cell" mat-cell *matCellDef="let element"> {{element.visits}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
          <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
          <td class="table-cell" mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="free_trial">
            <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Free_trial</th>
            <td class="table-cell" mat-cell *matCellDef="let element"> {{element.free_trial}} </td>
          </ng-container>
      <tr mat-header-row *matHeaderRowDef="workersDisplayedColumns">
      </tr>
      <tr mat-row *matRowDef="let row; columns: workersDisplayedColumns;" (click)="selection.toggle(row)">
      </tr>
    </table>
  </div>
  </div>
  