<div class="container">
  <label class="top-label">Invoices</label>
  <div class="card">
      <mat-card>
        <mat-card-content class="card-content">
          <div class="card-body-area">
            <div class="card-text-data">
             <table  style="width: 100%">
                <tbody>
                  <tr>
                    <td>4</td>
                    <td>
                      Total</td>
                    <td class="total-value-cell">400</td>
                  </tr>
                  <mat-divider style="margin: 10px"></mat-divider>
                  <tr>
                    <td>4</td>
                    <td>
                      Not Paid</td>
                    <td class="total-value-cell">400</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>
                      Paid</td>
                    <td class="total-value-cell">400</td>
                  </tr>
                </tbody>
              </table></div>
            <div>
              <canvas baseChart height="400" width="600"
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        (chartHover)="chartHovered($event)"
                 (chartClick)="chartClicked($event)">
              </canvas>
            </div>
          </div>
       </mat-card-content>
      </mat-card>
  </div>
</div>
