.container {
  padding: 20px;
  margin: 17 24 0 24;
}

.card-body-area {
  display: flex;
}

.card {
  margin-top: 17px
}

.card-text-data {
  flex: 1;
  text-align: center;
  font-size: 20px;
}

.total-value-cell {
  font-weight: 600
}

table {
  border-spacing: 5px;
  width: 100%;
  font-size: 15px;
}
