.cards-container {
  display: flex;
  text-align: center;
  height: 100%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  border: 1px solid lightgray;
  flex:1;
  max-width: 262px;
  margin: 41px 25px 11px 27px;
  min-width: 236px;
}

.card-content {
  padding: 15px;
}

.card-title-text {
  font-size: 19px;
}

a {
  text-decoration: none;
  color: black;
}

.card-body-title {
  margin: 0px;
  font-weight: 800;
  font-size: 21px;
}

.card-body-subtitle {
  margin: 0px;
  color: grey;
}

.card-footer-container {
  display: flex;
  margin: 24px 0 0 0;
  justify-content: space-around;
}

.card-content {
  padding-bottom: 0px;
}

.card-footer-title {
  margin: 0px;
  font-size: 17px;
}
.card-footer-subtitle {
  margin: 0px;
  color: grey;
}

.joining-text {
  color: grey;
  font-size: 15px;
}

.card-footer {
  padding: 0px 10px 0 10px; 
}
