<div>
  <section  class="cards-container">
    <div class="cards">
      <mat-card >
        <mat-card-header>
          <i class="material-icons">
          supervisor_account
          </i>
        <mat-card-title><span class="card-title-text">Occupancy</span></mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
        <mat-card-content class="card-content" style="padding-left:0px; padding-right: 0px">
          <div class="card-footer-container" style="margin-top: 26px">
            <div class="card-footer">
              <p class="card-body-title">{{dedicated_details.occupancy || 0}}<br><span class="joining-text"> of {{dedicated_details.resources_count || 0}}</span></p>
               <p class="card-footer-subtitle">Dedicated desk</p>
               <p class="card-footer-subtitle">({{dedicated_details.occupancy_percent}}%)</p>
            </div>
            <div class="card-footer">
              <p class="card-body-title">{{hotdesk_details.occupancy || 0}} <br><span class="joining-text">of {{hotdesk_details.resources_count || 0}}</span></p>
              <p class="card-footer-subtitle">Hotdesks</p>
              <p class="card-footer-subtitle">({{hotdesk_details.occupancy_percent}}%)</p>
            </div>
            <div class="card-footer">
              <p class="card-body-title">{{cabin_details.occupancy || 0}}<br> <span class="joining-text">of {{cabin_details.resources_count || 0}}</span></p>
              <p class="card-footer-subtitle">Private Cabins</p>
              <p class="card-footer-subtitle">({{cabin_details.occupancy_percent}}%)</p>
            </div>
          </div>
       </mat-card-content>
      </mat-card>
    </div>
    <div class="cards">
      <mat-card >
        <mat-card-header>
          <i class="material-icons">
          money
          </i>
        <mat-card-title><span class="card-title-text">Invoices</span></mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
        <mat-card-content class="card-content">
          <div>
            <p class="card-body-title">&#x20b9;{{invoice_final_details.total_amount}}</p>
            <p class="card-body-subtitle">Total</p>
          </div>
          <div class="card-footer-container" >
            <div class="card-footer" style="color: red">
              <p class="card-footer-title">&#x20b9;{{invoice_final_details.overdue_amount}}</p>
              <p class="card-footer-subtitle">Overdue</p>
            </div>
            <div class="card-footer" style="color: green">
              <p class="card-footer-title">&#x20b9;{{invoice_final_details.paid_amount}}</p>
              <p class="card-footer-subtitle">Paid</p>
            </div>
          </div>
          <div>
            <div class="card-footer" style="color: #38d038">
              <p class="card-footer-title">&#x20b9;{{invoice_final_details.underreview_amount}}</p>
              <p class="card-footer-subtitle">Under-review</p>
            </div>
          </div>
       </mat-card-content>
      </mat-card>
    </div>
    <div class="cards">
      <mat-card >
        <mat-card-header>
          <i class="material-icons">
         credit_card
          </i>
          <mat-card-title title="This is gross revenue from memberships"><span class="card-title-text">Revenue</span><i style="font-size: 14px;color: grey;position: relative;bottom: 6px;" class="material-icons">
            help 
            </i>
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="card-content">
          <div style="margin-top: 26px">
            <p class="card-body-title">&#x20b9;{{revenue_final_details.total_revenue}}</p>
            <p class="card-body-subtitle">Revenue</p>
          </div>
          <div class="card-footer-container">
            <div class="card-footer">
              <p class="card-footer-title">&#x20b9;{{revenue_final_details.target_revenue}}</p>
              <p class="card-footer-subtitle">Target</p>
            </div>
           <!-- <div class="card-footer">
              <p class="card-footer-title">&#x20b9;20</p>
              <p class="card-footer-subtitle">Recurring</p>
              </div>-->
          </div>
       </mat-card-content>
      </mat-card>
    </div>  
  </section>
  <section  style="padding-top: 0px" class="cards-container">
    <div class="cards">
      <mat-card >
        <mat-card-header>
          <i class="material-icons">
         business 
          </i>
        <mat-card-title><span class="card-title-text">Companies</span></mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
        <mat-card-content class="card-content">
          <div>
            <p class="card-body-title">{{company_final_details.active_count}}</p>
            <p class="card-body-subtitle">Active</p>
          </div>
          <div class="card-footer-container">
            <!--<div class="card-footer">
              <p class="card-footer-title" style="color: red">0</p>
              <p class="card-footer-subtitle">Leaving</p>
              </div>-->
            <div class="card-footer">
              <p class="card-footer-title"style="color: green">{{company_final_details.new_count}}</p>
              <p class="card-footer-subtitle">New</p>
            </div>
         </div>
       </mat-card-content>
      </mat-card>
    </div> 
    <div class="cards">
      <mat-card >
        <mat-card-header>
          <i class="material-icons">
           how_to_reg
          </i>
        <mat-card-title><span class="card-title-text">Members</span></mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
        <mat-card-content class="card-content">
          <div>
            <p class="card-body-title">{{member_final_details.active_count}}</p>
            <p class="card-body-subtitle">Active</p>
          </div>
          <div class="card-footer-container">
            <!--<div class="card-footer">
              <p class="card-footer-title" style="color: red">0</p>
              <p class="card-footer-subtitle">Leaving</p>
              </div>-->
            <div class="card-footer">
              <p class="card-footer-title"style="color: green">{{member_final_details.new_count}}</p>
              <p class="card-footer-subtitle">New</p>
            </div>
         </div>
       </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>
