<div>
  <div class="first-container">
    <div class="first-container-boxes">
      <p class="first-conatiner-boxes-subtitle"><i class="material-icons">trending_up</i>Avg. Occupancy</p>
      <p class="first-conatiner-boxes-title">20</p>
    </div>
    <div class="first-container-boxes">
      <p class="first-conatiner-boxes-subtitle"><i class="material-icons">person</i>Total Desk</p>
      <p class="first-conatiner-boxes-title">20</p>
    </div>
    <div class="first-container-boxes">
      <p class="first-conatiner-boxes-subtitle"><i class="material-icons">location_on</i>Total Area</p>
      <p class="first-conatiner-boxes-title">22ft</p>
    </div>
  </div>
  <div class="cards-container">
    <div class="cards">
      <mat-card >
        <mat-card-content class="card-content">
          <div class="second-container-card-body">
            <div class="desk-category">
              <p>Private Office</p>
            </div>
            <div class="desks-count">
              <p>10</p>
            </div>
          </div>
          <div class="second-container-card-body">
            <div class="desk-category">
              <mat-chip-list>
                <mat-chip color="primary" selected>Available</mat-chip>
              </mat-chip-list>
            </div>
            <div class="desks-count">
              <p>10</p>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="second-container-card-body">
            <div class="desk-category">
              <p>Occupancy</p>
            </div>
            <div class="desks-count">
              <p>90%</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="cards">
      <mat-card >
        <mat-card-content class="card-content">
          <div class="second-container-card-body">
            <div class="desk-category">
              <p>Dedicated Desk</p>
            </div>
            <div class="desks-count">
              <p>10</p>
            </div>
          </div>
          <div class="second-container-card-body">
            <div class="desk-category">
              <mat-chip-list>
                <mat-chip color="primary" selected>Available</mat-chip>
              </mat-chip-list>
            </div>
            <div class="desks-count">
              <p>10</p>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="second-container-card-body">
            <div class="desk-category">
              <p>Occupancy</p>
            </div>
            <div class="desks-count">
              <p>90%</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="cards">
      <mat-card >
        <mat-card-content class="card-content">
          <div class="second-container-card-body">
            <div class="desk-category">
              <p>Hot Desk</p>
            </div>
            <div class="desks-count">
              <p>10</p>
            </div>
          </div>
          <div class="second-container-card-body">
            <div class="desk-category">
              <mat-chip-list>
                <mat-chip color="primary" selected>Target</mat-chip>
              </mat-chip-list>
            </div>
            <div class="desks-count">
              <p>10</p>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="second-container-card-body">
            <div class="desk-category">
              <p>Occupancy</p>
            </div>
            <div class="desks-count">
              <p>90%</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="cards-container">
    <div class="">
    <mat-card >
      <mat-card-content class="card-content">
        <canvas baseChart width="950" height="300"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
      </mat-card-content>
    </mat-card>
  </div>
  </div>
</div>
