.first-container {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  margin: 6px 32px 0px 32px;
}

.first-container-boxes {
  flex: 1;
  border: 1px grey;
  border-style: solid;
  padding: 7px 0px 2px 23px;
}

.first-conatiner-boxes-title {
  margin: 0px;
  font-weight: 600;
  font-size: 22px;
}

.first-conatiner-boxes-subtitle {
  margin: 0px;
  color: grey;
  font-size: 14px;
}

.cards-container {
  display: flex;
  text-align: center;
  height: 100%;
  margin: 26px 24px 0px 24px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards {
  flex:1;
  max-width: 335px;
  margin: 15px;
  min-width: 265px;
}

.second-container-card-body {
  font-size: 15px;
  display: flex;
}

.desk-category {
  text-align: left;
  flex: 2
}

.desks-count {
  flex: 1;
  text-align: right;
  font-weight: 600;
}

