<div class="container">
  <label class="top-label">Active Memberships</label>
  <div class="card">
      <mat-card>
        <mat-card-content class="card-content">
          <div class="card-body-area">
            <div class="card-text-data">
              <table  style="width: 100%">
                <tbody>
                  <tr>
                    <td>4</td>
                    <td colspan=2>
                      Active membership</td>
                    <td></td>
                    <td class="total-value-cell">400</td>
                  </tr>
                  <mat-divider style="margin: 10px"></mat-divider>
                  <tr  *ngFor="let membership of memberships">
                    <td>{{membership.sold_count}}</td>
                    <td colspan=2>
                      {{membership.name}}</td>
                    <td class="denomination-cell-data">{{membership.sold_count}}x{{membership.price}}</td>
                    <td class="total-value-cell">{{membership.price * membership.sold_count}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <canvas baseChart height="300" width="600"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
              </canvas>
            </div>
          </div>
       </mat-card-content>
      </mat-card>
  </div>
</div>
