<div class="container">
  <ul class="nav-container">
    <li class="tabs" (click)="changeStatus(0)">
      <span [ngClass]="{'active': selected_status== 0}" class="tabs-text">All</span>
    </li>
    <li class="tabs"  (click)="changeStatus(1)">
      <span [ngClass]="{'active': selected_status== 1}" class="tabs-text">Coworking Spces</span>
    </li>
    <li class="tabs"  (click)="changeStatus(2)">
      <span [ngClass]="{'active': selected_status== 2}" class="tabs-text">Working Cafe</span>
    </li>
</ul>
<div class="first-container">
  <div class="filter-input">
    <mat-form-field class="transactions-form-inputs" appearance="outline">
      <mat-label>
        Search
      </mat-label>
      <input [(ngModel)]="search_string" matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter details to search">
      <span *ngIf="!search_string" matSuffix>
        <mat-icon class="filter-icons">search</mat-icon>
      </span>
      <span *ngIf="search_string" (click)="clearSearchInput()" matSuffix>
        <mat-icon class="filter-icons">cancel</mat-icon>
      </span>
    </mat-form-field>
    </div>
</div>
<div class="card">
  <div class="filter-input">
    <label class="label-details">Showing <b>{{selected_transactionss_data.length}}</b> results for selected date range</label>
    &nbsp; &nbsp;

  </div>
  <table  mat-table [dataSource]="transactionssDataSource" matSort class="member-table">
      <ng-container matColumnDef="id">
          <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
          <td class="table-cell" mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="amount">
            <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Amount</th>
            <td class="table-cell" mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td class="table-cell" mat-cell *matCellDef="let element"> 
              <mat-chip *ngIf="element.status == 1" style="background-color: grey" class="status" selected>Completed</mat-chip>
              <mat-chip *ngIf="element.status == 0" style="background-color: green" class="status" selected>Initiated</mat-chip>
            </td>
          </ng-container>
    <!-- Symbol Column -->['id', 'amount', 'status', 'gateway_id', 'coupon_code', 'added_at', 'visits', 'purpose' ];
    <ng-container matColumnDef="gateway_id">
      <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header>Gateway Id</th>
      <td class="table-cell" mat-cell *matCellDef="let element"> {{element.gateway_id}} </td>
    </ng-container>
    <ng-container matColumnDef="coupon_code">
        <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Coupon Code</th>
        <td class="table-cell" mat-cell *matCellDef="let element"> {{element.coupon_code}} </td>
      </ng-container>
      <ng-container matColumnDef="added_at">
          <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
          <td class="table-cell" mat-cell *matCellDef="let element"> {{element.added_at}} </td>
      </ng-container>
      <ng-container matColumnDef="visits">
        <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Visits</th>
        <td class="table-cell" mat-cell *matCellDef="let element"> {{element.visits}} </td>
      </ng-container>
      <ng-container matColumnDef="purpose">
        <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> Purpose</th>
        <td class="table-cell" mat-cell *matCellDef="let element"> {{element.purpose}} </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="transactionssDisplayedColumns">
    </tr>
    <tr mat-row *matRowDef="let row; columns: transactionssDisplayedColumns;" (click)="selection.toggle(row)">
    </tr>
  </table>
</div>
</div>
