@import '../node_modules/@angular/material/theming';

@include mat-core();

$custom-theme-primary: mat-palette($mat-);
$custom-theme-accent: mat-palette($mat-red);
$custom-theme-warn: mat-palette($mat-red);
