<div style="display: flex">
  <div>
    <label><b>You account is temporarily suspended.</b></label>
    <ol class="error-list">
    <mat-label>Probable reasons for account suspension are given below:</mat-label><br><br>
      <li>1. Your trial period is over.</li>
      <li>2. Your billing for previous months are overdue.</li>
    </ol>
    <mat-label class="error-list">If all the above reasons are in-valid, please contact us at hi@brskly.co</mat-label><br><br>
  </div>
  <img style="align-self: flex-start" src="assets/img/suspended.svg">
</div>

