<ul class="account-list">
  <li *ngFor="let account of list_accounts" (click)="openLink(account.order_no, account.name, $event)">
    <div class="account-detail">
      <i style="vertical-align: bottom" class="material-icons">
      account_box
      </i>
      <span style= "padding: 7px">{{account.name}}</span>
      <i *ngIf="account.order_no == selected_account_id" style="vertical-align: bottom; color: green" class="material-icons">check_circle</i>
    </div>
  </li>
</ul>
