<div *ngIf="!is_no_internet_bar_hidden" class="no-internet">No Internet Access</div>
<div  *ngIf="objLoaderStatus" class="loader">
  <img class="loader-image" src="assets/img/loader.gif" />
</div>
<mat-drawer-container  style = "height:100vh; background: white;" class="example-container">
  <div (click)="openLocationBottomSheet()" class="location-filter">
    <span >{{selected_location_name}}
    </span>
  </div>
  <mat-drawer #drawer [opened]="true" mode="side" style="background-color:#483E60; width: 220px" class="space-sidenav" id ="menu-scrollbar">
    <mat-list>
     <mat-list-item>
       <button class="header-button" mat-button [matMenuTriggerFor]="menu">
         <strong class="header">FLEXO</strong>
         <mat-icon aria-label="expand" style="font-size: 25px">expand_more</mat-icon></button>
         <mat-menu #menu="matMenu" [overlapTrigger]="false">
         <button mat-menu-item (click)="openLogoutDialog()">
          <mat-icon aria-label="Example icon-button with a heart icon">power_settings_new</mat-icon>
           Logout
         </button>
         <button *ngIf="list_accounts.length" mat-menu-item (click)="openAccountBottomSheet()" >
          <mat-icon aria-label="Example icon-button with a heart icon">swap_horiz
          </mat-icon>
          Switch account
         </button>
       </mat-menu>
     </mat-list-item>
    </mat-list>
    <mat-list style="cursor:pointer; margin-top: 10px">
      <mat-divider></mat-divider>
      <mat-list-item class="list-color" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink = "/home/bookings"><mat-icon class="material-icons">
          calendar_today
          </mat-icon>Bookings
        </a>
      </mat-list-item>
      <mat-list-item class="list-color" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink = "/home/workers"><mat-icon class="material-icons">
          person
          </mat-icon>Workers
        </a>
      </mat-list-item>
      <mat-list-item class="list-color" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink = "/home/spaces"><mat-icon class="material-icons">
          desktop_mac
          </mat-icon>Spaces
        </a>
      </mat-list-item>
      <mat-list-item class="list-color" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink = "/home/plans"><mat-icon class="material-icons">
          attach_money
        </mat-icon>Plans
        </a>
      </mat-list-item>
      <mat-list-item class="list-color" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink = "/home/transactions"><mat-icon class="material-icons">
          payment
          </mat-icon>Transactions
        </a>
      </mat-list-item>
      <mat-list-item class="list-color" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink = "/home/queries"><mat-icon class="material-icons">
          question_answer
          </mat-icon>Queries
        </a>
      </mat-list-item>
      </mat-list>
   </mat-drawer>
 <!-- <mat-toolbar color="primary">
<button mat-icon-button (click)="sidenav.toggle()"><mat-icon class="example-icon">menu</mat-icon></button>
  <span>Dashboard</span>
  <span class="example-spacer"></span>
  <mat-icon style="cursor: pointer" class="material-icons app-toolbar-menu" (click)="openLogoutDialog()">power_settings_new</mat-icon>
  </mat-toolbar>-->

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
