.example-spacer {
  flex: 1 1 auto;
}
.app-content {
  padding: 20px;
}
.space-sidenav {
  width: 172px; 
}
.mat-expansion-panel-body {
  margin: 0px;
}

#menu-scrollbar ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#menu-scrollbar::-webkit-scrollbar
{
  width: 8px;
  background-color: #d6cece;
}

#menu-scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #5555559e;
}

.app-content mat-card {
  margin: 20px;
}

mat-list-item a {
  text-decoration: none;
  color: white;
  width: 100%;
  font-size: 14px;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
  background-color: #646b6f;
  color: white;
  width: 16.15%;
}

.app-content mat-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}
.header{
  font-family: 'Montserrat', sans-serif;
}

.header-button {
  color: white;
  margin: 0 auto;
  font-size: 25px;
}

.main-avatar{
  width: 147px;
  height: 53px;
  margin-top: 17px;
}
.list-color{
  color: white;
  transition: color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);

}

.logout-option {
  position: absolute;
  bottom: 5px;
  color: white;
  padding: 11px;
}

.location-filter {
  position: fixed;
  cursor: pointer;
  background-color: #e4d9d9;
  color: black;
  z-index: 3;
  width: 113px;
  padding: 3px;
  font-size: 14px;
  right: 44vw;
  border-radius: 3px;
  text-align: center;
}

.account-filter {
  position: fixed;
  cursor: pointer;
  background-color: #e4d9d9;
  color: black;
  z-index: 3;
  width: 113px;
  padding: 3px;
  font-size: 14px;
  right: 4vw;
  border-radius: 3px;
  text-align: center;
}

.active {
  border-left-color: rgb(172, 131, 255);
  border-left-style: solid;
  border-left-width: 6px;
  background-color: #372b4e;
}

.sidenav-expansion-panel {
  background: #00000000;
  margin-top:0px;
  margin-bottom: 0px;
  outline: 1px solid #372b4e;
}

.sidenav-expansion-headers {
  background: #372b4e;
  font-size: 14px;
}

.material-icons {
  font-size: 17px;
}

.mat-list-item-content {
  padding-left: 21px;
}

.no-internet {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  background: #d61b1beb;
  border-radius: 3px;
  padding: 4px;
  font-weight: 600;
  color: white;
  opacity: 0;

  animation: fadeIn 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
