<ul class="location-list">
  <li *ngFor="let location of list_locations" (click)="openLink(location.id, location.name, $event)">
    <div class="location-detail">
      <i class="material-icons">
      location_on
      </i>
      {{location.name}}
    </div>
  </li>
</ul>
