<div>
  <h2 style="font-weight: 300; font-size: 18px">Are you sure want to logout ?</h2>
  <br>
  <button mat-raised-button color="primary"  (click)="logout()" >Confirm</button> &nbsp; &nbsp;
  <button mat-raised-button (click)="closeDialog()" >Cancel</button>
</div>

