.container {
    margin: 41px 20px 10px 20px;
  }
  
  .first-container {
   display: flex;
  }
  
  .card {
    margin-top: 21px;
  }
  
  .member-table {
    width: 100%
  }
  
  .nav-container {
    display: flex;
    list-style: none;
    padding: 0px;
    flex: 1;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  
  .first-container-button {
    text-align: right;
    height: 55px;
  }
  
  .tabs {
    padding-right: 20px;
  }
  
  .tabs-text {
    border: 2px #242724;
    padding-bottom: 11px;
    font-size: 14px;
  }
  
  .active, .tabs-text:hover {
    border-bottom-style: solid;
  }
  
  .table-header {
    font-size: 15px;
  }
  .table-cell {
    font-size: 15px;
    padding-top: 6px;
  }
  
  .plan-small-form-inputs {
    margin: 0px 54px 0px 0px;
    min-width: 190px;
    max-width: 0px;
    width: 100%;
  }
  
  .status {
    padding: 4.5px;
    border-radius: 4px;
    position: relative;
    font-size: 12.5px;
  }
  
  .material-icons {
    font-size: 20px
  }
  
  .basic-details {
    font-size: 12px;
    font-weight: 100;
    color: grey;
    margin: 3px 0px 4px 0px;
  }
  
  .action-list {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 7px;
  }
  
  .action {
    flex:1;
  }
  
  .plan-form-inputs {
    margin: 10px 47px 0px 0px;
    min-width: 190px;
    max-width: 435px;
    width: 100%;
    font-size:14px;
  }
  
  .filter-input{
    flex: 1
  }
  
  .filter-icons{
    cursor:pointer;
    font-size:17px;
  }
  
  .label-details {
    float: right;
    font-size: 14px;
    font-weight: 100;
    color: grey;
    margin: 10px 5px 0px 0px;
  }
  