<div class="container">
 <div class="first-container-button">
      &nbsp; &nbsp;
      <button mat-raised-button color="primary" (click)="downloadAsCSV()">Export to CSV</button>
      &nbsp; &nbsp;
 </div>
 <!--<div class="first-card">
    <mat-card>
      <mat-card-content class="card-content">
        <label class="top-label">September 2018</label>
        <div class="card-body-area">
          <div class="property">
            <p>Target revenue</p>
          </div>
          <div class="value">
            <p>&#x20b9;1000</p>
          </div>
        </div>
        <div class="card-body-area">
          <div class="property">
            <p>Revenue</p>
          </div>
          <div class="value">
            <p>&#x20b9;100</p>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="card-body-area">
          <div class="property">
            <p>Difference</p>
          </div>
          <div class="value">
            <p>&#x20b9;90</p>
          </div>
        </div>
        <div class="card-body-area">
          <div class="property">
            <p>Revenue /sq. fit</p>
          </div>
          <div class="value">
            <p>&#x20b9;10</p>
          </div>
        </div>
        <div class="card-body-area">
          <div class="property">
            <p>Cash Occupancy</p>
          </div>
          <div class="value">
            <p>38%</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    </div>
  <form class="month-range-form">
    <mat-form-field class="example-full-width">
        <input matInput  type="month" placeholder="From" value="2018-09">
     </mat-form-field>
     <mat-form-field class="example-full-width">
        <input matInput  type="month" placeholder="To" value="2018-05">
     </mat-form-field>
  </form>-->
   <label class="top-label">Revenue Distribution by past 4 months and location</label>
   <div class="card">
     <table mat-table [dataSource]="revenueDataSource" matSort class="member-table">
       <ng-container *ngFor="let column of columns" matColumnDef="{{column.name}}">
         <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</th>
         <td class="table-cell" mat-cell *matCellDef="let element"><span *ngIf="column.name != 'location'"> &#8377;</span> {{element[column.name]}} </td>
       </ng-container>
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;">
       </tr>
     </table>
    <!--<mat-card>
        <mat-card-content class="card-content">
          <div>
            <canvas baseChart height="400" width="1000"
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
           </canvas>
         </div>
       </mat-card-content>
    </mat-card>
  </div>
  <label class="top-label">Revenue Distribution by Plan</label>
   <div class="card">
    <mat-card>
        <mat-card-content class="card-content">
          <div>
            <canvas baseChart width="950" height="300"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
         </div>
       </mat-card-content>
       </mat-card>-->
</div>
