.container {
  padding: 20px;
  margin: 17px 24px 0px 24px;
}

.first-container-button {
  flex: 1;
  text-align: right;
}
.card-body-area {
  display: flex;
  font-size: 14.5px;
}

.first-card {
  width: 500px;
  margin: auto;
}

.card {
  margin-top: 23px;
  margin-bottom: 30px;
}

.month-range-form {
  margin: 12px;
}

.card-text-data {
  flex: 1;
}

.denomination-cell-data {
  font-size: 12px;
  color: grey;
}

.total-value-cell {
  font-weight: 600
}

.member-table {
  width: 100%
}

.table-header {
  font-size: 15px;
}
.table-cell {
  font-size: 15px;
  padding-top: 6px;
}

table {
  border-spacing: 5px;
  width: 100%;
  font-size: 15px;
}
.property {
  text-align: left;
  flex: 2;
}

.value {
  flex: 1;
  text-align: right;
  font-weight: 600;
}
